body{
    background-color: rgb(8, 99, 57);
}

header {
    color: black;
    text-align: center;
    font-size:  250%;

}
div ul li {
    color: tomato;
  font-size: 150%;
}

h1{
    color: black;
    text-align: center;
    font-size:  500%;
}

img{
    margin-left: 30%;
    width :40%
}